# Create learning task stimulus dataframe

### Imports

In [2]:
from stimulus_helpers import *
import pandas as pd
import random
from itertools import combinations
from itertools import chain
import random
import os

# Create stimulus dataframes

In [2]:
# three lists of subjects who saw the same stimuli
l3_v1 = ['pp65','pp73','pp77','pp84','pp91','pp100','pp153','pp59','pp55']
l3_v2 = ['pp56','pp60','pp69','pp80','pp85','pp92','pp97']
l3 = l3_v1 + l3_v2

l2_v1 = ['pp61','pp70','pp82','pp88','pp94','pp95','pp99','pp152','pp53']
l2_v2 = ['pp54','pp62','pp67','pp79','pp86','pp96','pp90']
l2 = l2_v1 + l2_v2

l1_v1 = ['pp81','pp98','pp51','pp154','pp57','pp151','pp63','pp68','pp75','pp93']
l1_v2 = ['pp58','pp64','pp71','pp76','pp89','pp52']
l1 = l1_v1 + l1_v2

In [3]:
print('List 1: '+str(len(l1_v1))+', '+str(len(l1_v2)))
print('List 1, TOTAL: '+str(len(l1)));print()

print('List 2: '+str(len(l2_v1))+', '+str(len(l2_v2)))
print('List 2, TOTAL: '+str(len(l1)));print()

print('List 3: '+str(len(l3_v1))+', '+str(len(l3_v2)))
print('List 3, TOTAL: '+str(len(l1)));print()

List 1: 10, 6
List 1, TOTAL: 16

List 2: 9, 7
List 2, TOTAL: 16

List 3: 9, 7
List 3, TOTAL: 16

In [4]:
df_list = []
path    = '/Users/kirstenziman/Downloads/images_with_borders/Images_resized_greyborders/'

# for each list
for l_int,l,small_path in zip([1,2,3],[l1,l2,l3],['List 1','List 2','List 3']):

    #####################################################
    # VIEWERS - let's go for 21, 7 from each list 
    #####################################################
    
    # randomly select 14 viewers (split into 14 pairs)
    fourteen = random.sample(l,14)
    fourteen_full = []
    
    # make into 70 (for 70 trials in df)
    for f in fourteen:
        fourteen_full = fourteen_full+[f]*70
        
    # split viewers in half
    df_1 = pd.DataFrame({'subject':fourteen_full[0:int(len(fourteen)*70/2)]})
    df_2 = pd.DataFrame({'subject':fourteen_full[int(len(fourteen)*70/2):]})
    
    # IMAGES ############################################
    # for each list, randomly select 70 photos
    # add the photos to the appropriate df
    #####################################################
    
    # for each list
    #for idx,small_path in enumerate(['List 1','List 2', 'List 3']):
        
    # start new empty image stim list
    full_images = []

    # make path to this list's images
    full_path = path+small_path

    # for each subject pair
    for sub in range(0,7):

        # randomly sample 70 images
        images  = [x for x in os.listdir(full_path) if x[-3:]=='bmp']
        seventy = list(random.sample(images, 70))

        # add them to total image list
        full_images = full_images+seventy

    # add them to df's
    df_1['image']   = full_images;   df_2['image']   = full_images
    print(len(set(full_images)))
            
            
#         # use this code if same 70 images for every person
#         # randomly sample 70 of the images
#         images  = [x for x in os.listdir(full_path) if x[-3:]=='bmp']
#         eighty  = list(random.sample(images, 80))


    # add to dfs
    df_1['list']    = l_int;         df_2['list']    = l_int
    df_1['version'] = 1;             df_2['version'] = 1
    #df_1['image']  = eighty[:70]*7; df_2['image']   = eighty[:70]*7

    df_list.append(df_1); df_list.append(df_2)

103
102
102

In [6]:
learning_df = pd.concat(df_list)
learning_df.to_csv('learning_df.csv')

### Split full stim df into chunks (for batch-wise stimulus generation)

In [15]:
# learning_df.shape[0]/42

In [16]:
# for idx,x in enumerate(learning_df['subject'].unique()):
    
#     dat = learning_df[learning_df['subject']==x]
    
#     file_string = 'stim_df_'+str(idx)
    
#     dat.to_csv('dataframes/'+file_string)

### Extra stim videos

In [13]:
stim_df_19

NameError: name 'stim_df_19' is not defined

In [2]:
import os
import random

In [9]:
df

    Unnamed: 0 subject        image  list  version
0          280    pp73  1593084.bmp     3        1
1          281    pp73  1592027.bmp     3        1
2          282    pp73  1592971.bmp     3        1
3          283    pp73   498024.bmp     3        1
4          284    pp73  1592817.bmp     3        1
..         ...     ...          ...   ...      ...
65         345    pp73   498039.bmp     3        1
66         346    pp73  1592581.bmp     3        1
67         347    pp73  1592129.bmp     3        1
68         348    pp73  1159956.bmp     3        1
69         349    pp73   497926.bmp     3        1

[70 rows x 5 columns]

In [11]:
df

    Unnamed: 0 subject        image  list  version
0          280    pp82  1159392.bmp     2        1
1          281    pp82   498372.bmp     2        1
2          282    pp82  1592656.bmp     2        1
3          283    pp82   498111.bmp     2        1
4          284    pp82   286001.bmp     2        1
..         ...     ...          ...   ...      ...
65         345    pp82   498153.bmp     2        1
66         346    pp82  1159855.bmp     2        1
67         347    pp82   713380.bmp     2        1
68         348    pp82  1592747.bmp     2        1
69         349    pp82   498226.bmp     2        1

[70 rows x 5 columns]

In [5]:
df

    Unnamed: 0 subject        image  list  version
0          280    pp64   498398.bmp     1        1
1          281    pp64   713707.bmp     1        1
2          282    pp64  1591781.bmp     1        1
3          283    pp64  1159408.bmp     1        1
4          284    pp64   285992.bmp     1        1
..         ...     ...          ...   ...      ...
65         345    pp64  1159427.bmp     1        1
66         346    pp64   285807.bmp     1        1
67         347    pp64   713371.bmp     1        1
68         348    pp64   713769.bmp     1        1
69         349    pp64  1160062.bmp     1        1

[70 rows x 5 columns]

In [8]:
df

    Unnamed: 0 subject        image  list  version
0          140    pp67   285686.bmp     2        1
1          141    pp67   150374.bmp     2        1
2          142    pp67   498281.bmp     2        1
3          143    pp67  1592254.bmp     2        1
4          144    pp67   498111.bmp     2        1
..         ...     ...          ...   ...      ...
65         205    pp67  1592656.bmp     2        1
66         206    pp67  1592033.bmp     2        1
67         207    pp67  1159447.bmp     2        1
68         208    pp67   498388.bmp     2        1
69         209    pp67  1159855.bmp     2        1

[70 rows x 5 columns]

In [13]:
df

    Unnamed: 0 subject        image  list  version
0            0    pp62  1591805.bmp     2        1
1            1    pp62  1593006.bmp     2        1
2            2    pp62   713512.bmp     2        1
3            3    pp62  1160093.bmp     2        1
4            4    pp62   713142.bmp     2        1
..         ...     ...          ...   ...      ...
65          65    pp62  1160204.bmp     2        1
66          66    pp62  1592251.bmp     2        1
67          67    pp62  1591975.bmp     2        1
68          68    pp62   713003.bmp     2        1
69          69    pp62  1159889.bmp     2        1

[70 rows x 5 columns]

In [2]:
import os; import random

In [3]:
# df36
### list 2 extras #####################################################
df      = pd.read_csv('dataframes/stim_df_34')
path_1  = '/Users/kirstenziman/Downloads/images_with_borders/Images_resized_greyborders/List 3'

images_full  = [x for x in os.listdir(path_1) if x[-3:]=='bmp']
images_used  = list(df['image'].unique())
images_remaining = [x for x in images_full if x not in images_used]

#seventy = list(random.sample(images, 70))
        
####################################################################### 
print(len(images_remaining))
extras = list(random.sample(images_remaining, 1))
extras

32

['285896.bmp']

In [ ]:
['713519.bmp', '1591858.bmp', '713742.bmp', '1592519.bmp', '713620.bmp']





'285993.bmp', '1159855.bmp','1160049.bmp'

'1159392.bmp',
 '1591859.bmp',
 '713028.bmp',
 '1159874.bmp',
 '1591954.bmp',
 '61514.bmp',
 '713146.bmp',
 '1592367.bmp',
 '1159882.bmp',
 '1591975.bmp'

In [5]:
### list 2 extras #####################################################
df      = pd.read_csv('dataframes/stim_df_40')
path_1  = '/Users/kirstenziman/Downloads/images_with_borders/Images_resized_greyborders/List 3'

images_full  = [x for x in os.listdir(path_1) if x[-3:]=='bmp']
images_used  = list(df['image'].unique())
images_remaining = [x for x in images_full if x not in images_used]

#seventy = list(random.sample(images, 70))
        
####################################################################### 
print(len(images_remaining))
extras = list(random.sample(images_remaining, 1))
extras

32

['713684.bmp']

In [41]:
df

    Unnamed: 0 subject        image  list  version
0          420    pp71  1159463.bmp     1        1
1          421    pp71  1159508.bmp     1        1
2          422    pp71   285948.bmp     1        1
3          423    pp71  1159353.bmp     1        1
4          424    pp71  1593047.bmp     1        1
..         ...     ...          ...   ...      ...
65         485    pp71  1592568.bmp     1        1
66         486    pp71  1592857.bmp     1        1
67         487    pp71  1591781.bmp     1        1
68         488    pp71   285807.bmp     1        1
69         489    pp71  1592934.bmp     1        1

[70 rows x 5 columns]

In [3]:
### list 1 extras #####################################################
df      = pd.read_csv('dataframes/stim_df_13')
path_1  = '/Users/kirstenziman/Downloads/images_with_borders/Images_resized_greyborders/List 1'

images_full  = [x for x in os.listdir(path_1) if x[-3:]=='bmp']
images_used  = list(df['image'].unique())
images_remaining = [x for x in images_full if x not in images_used]

#seventy = list(random.sample(images, 70))
        
####################################################################### 
        
extras = list(random.sample(images_remaining, 1))
extras

['1591876.bmp']

In [29]:
df0     = pd.read_csv('dataframes/stim_df_0')
df7     = pd.read_csv('dataframes/stim_df_7')

In [30]:
df0_extras = df0[0:10]
df7_extras = df7[0:10]

In [31]:
df0_extras

   Unnamed: 0 subject        image  list  version
0           0   pp154   713024.bmp     1        1
1           1   pp154   713593.bmp     1        1
2           2   pp154  1159440.bmp     1        1
3           3   pp154  1591876.bmp     1        1
4           4   pp154   712977.bmp     1        1
5           5   pp154   107930.bmp     1        1
6           6   pp154  1592836.bmp     1        1
7           7   pp154   285948.bmp     1        1
8           8   pp154  1592568.bmp     1        1
9           9   pp154  1592857.bmp     1        1

In [36]:
df0_extras['image'] = extras
df7_extras['image'] = extras

/usr/local/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [38]:
df0_extras.to_csv('df0_extras.csv')
df7_extras.to_csv('df7_extras.csv')

In [39]:
sub1_extras = pd.concat([df0_extras, df7_extras])

In [41]:
sub1_extras.to_csv('sub1_extras.csv')

In [42]:
sub1_extras

   Unnamed: 0 subject        image  list  version       images
0           0   pp154   285670.bmp     1        1   285670.bmp
1           1   pp154   713211.bmp     1        1   713211.bmp
2           2   pp154  1159991.bmp     1        1  1159991.bmp
3           3   pp154  1592241.bmp     1        1  1592241.bmp
4           4   pp154  1159470.bmp     1        1  1159470.bmp
5           5   pp154  1159621.bmp     1        1  1159621.bmp
6           6   pp154  1159515.bmp     1        1  1159515.bmp
7           7   pp154  1592817.bmp     1        1  1592817.bmp
8           8   pp154  1592350.bmp     1        1  1592350.bmp
9           9   pp154  1591994.bmp     1        1  1591994.bmp
0           0    pp58   285670.bmp     1        1   285670.bmp
1           1    pp58   713211.bmp     1        1   713211.bmp
2           2    pp58  1159991.bmp     1        1  1159991.bmp
3           3    pp58  1592241.bmp     1        1  1592241.bmp
4           4    pp58  1159470.bmp     1        1  1159470.bmp
5           5    pp58  1159621.bmp     1        1  1159621.bmp
6           6    pp58  1159515.bmp     1        1  1159515.bmp
7           7    pp58  1592817.bmp     1        1  1592817.bmp
8           8    pp58  1592350.bmp     1        1  1592350.bmp
9           9    pp58  1591994.bmp     1        1  1591994.bmp